<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Starcraft</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="isAnonymous()" class="nav-link" href="/login">Log in</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="isAuthenticated()" class="nav-link" href="/logout">Log out</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="/adminPanel">Admin panel</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/?page=1&  }">
            <input class="form-control mr-sm-2" type="text" placeholder="Search for news" name="articleName">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>