<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Community</title>
    <link rel="stylesheet" href="/styles/bootstrap.css">
</head>

<body>
<div th:include="fragments/navbar"></div>
<div class="container">
    <div class="row my-4">
        <div class="col-lg-8">
            <img class="img-fluid rounded" th:src="@{/content/main/indexWallpaper.jpg}" alt="newspaper">
        </div>
        <div class="col-lg-4">
            <h1>Welcome to our community</h1>
            <p>This is a website for news. We usually publish news about everything, but our main theme
                is Starcraft. This is one very interesting game about battles and strategies. We hope
                that you will enjoy our website.</p>
            <a class="btn btn-primary btn-lg" href="/news">See more!</a>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${article1.name}"></h2>
                    <p class="card-text" th:text="${article1.description}"></p>
                    <p class="card-header" th:text="${article1.date}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/article} + '/' + ${article1.id}" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${article2.name}"></h2>
                    <p class="card-text" th:text="${article2.description}"></p>
                    <p class="card-header" th:text="${article2.date}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/article} + '/' + ${article2.id}" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${article3.name}"></h2>
                    <p class="card-text" th:text="${article3.description}"></p>
                    <p class="card-header" th:text="${article3.date}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/article} + '/' + ${article3.id}" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer"></footer>
</body>
</html>
